<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>무엇이든 물어봄</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- <div style="padding-top: 8rem"> </div> -->
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a><img src="assets/img/logo3.png" alt="" width="250px" height="70px"/></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">소개</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">게시글</a></li>
                        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">활동 일정(보류)</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">문의</a></li> -->
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">관리자</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">모든 궁금증을 해결하는 </div>
                <div class="masthead-heading text-uppercase">무엇이든 물어봄</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">우리를 소개합니다.</a> -->
                <!-- <img src="./assets/img/123.jpg" alt="대신하는 이미지" width="200px" height="230px"> -->
            </span>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">무엇이든 물어봄</h2>
                    <h3 class="section-subheading text-muted">기업, 학교, 명소 등 평소에 궁금했던것을 대신 물어봅니다.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">기업</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-school fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">학교</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">동아리</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-suitcase-rolling fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">명소</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">맛집</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">질문사항</h4>
                        <!-- <p class="text-muted">test</p> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">인터뷰 내용 바로 보기 </h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://ask-spring.tistory.com/">인터뷰 내용</a>
                </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 text-lg-left"> <a href="http://www.askspring.co.kr/"> askspring.co.kr </a> by <a href="https://github.com/junyeongjang">junyeongjang</a>
                    <p>ⓒTeam askSpring(장준영 김성주 박대윤 안준수 한용구)<br> 문의 junyeong.dev@gmail.com
                    <br>성남시청년지원공모사업 <a href="https://www.snspring.or.kr/">『청년이, 해봄』</a>의 지원을 받아 제작되었습니다.
                       </p>
                    </div>
    
                    <div class="col-lg-4 my-3 my-lg-0 text-lg-right">
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/ask_spring20"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://web.facebook.com/%EB%AC%B4%EC%97%87%EC%9D%B4%EB%93%A0-%EB%AC%BC%EC%96%B4%EB%B4%84-112816753885030"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->

        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
